.students-page {
  text-align: center;
  padding: 30px;
}

.title {
  margin-bottom: 30px;
}

.student-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}